swagger: "2.0"
info:
  description: "This is the REST API for the Gene Ontology Causal Activity Models (GO-CAMs) site. Find more at [http://geneontology.org/gocam](http://geneontology.org/gocam)."
  version: "1.0.0"
  title: "GOCAM REST"
  contact:
    email: "laurent.albou@lbl.gov"

host: "api.geneontology.cloud"
basePath: "/gocam"

tags:
- name: "go"
  description: "Access GO information"
- name: "models"
  description: "Access GO-CAM related information"
  externalDocs:
    description: "Find out more"
    url: "http://geneontology.org/gocam"
- name: "users"
  description: "Access GO-CAM Users related information"
- name: "groups"
  description: "Access GO-CAM Groups related information"
- name: "stats"
  description: "Access GO-CAM Statistics"

schemes:
- "https"
- "http"

paths:

  /go/{id}:
    get:
      tags:
      - "go"
      summary: "Find GO-Term by ID"
      description: "Returns a single GO-Term"
      operationId: "getGOTermById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of GO-Term to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOTerm"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-Term not found"

  /go/{id}/hierarchy:
    get:
      tags:
      - "go"
      summary: "Find GO-Term Hierarchy by ID"
      description: "Returns the children and parents of a single GO-Term"
      operationId: "getGOTermHierarchyById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of GO-Term to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOTermRelation"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-Term not found"

  /go/{id}/relation:
    get:
      tags:
      - "go"
      summary: "Find GO-Term Relations by ID"
      description: "Returns the GO-Terms related to a single GO-Term"
      operationId: "getGOTermRelationsById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of GO-Term to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOTermRelation"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-Term not found"          
          
  /models:
    get:
      tags:
      - "models"
      summary: "List all GO-CAMs"
      description: "List all production GO-CAMs"
      operationId: "getModels"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GOCAM_Summaries"
        400:
          description: "Invalid status value"

  /models/{id}:
    get:
      tags:
      - "models"
      summary: "Find GO-CAM by ID"
      description: "Returns a single GO-CAM"
      operationId: "getModelById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of GO-CAM to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOCAM_Summary"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-CAM not found"

  /models/last/{nb}:
    get:
      tags:
      - "models"
      summary: "Find Last {nb} GO-CAMs"
      description: "Returns the last {nb} GO-CAMs"
      operationId: "getLastModels"
      produces:
      - "application/json"
      parameters:
      - name: "nb"
        in: "path"
        description: "Number of GO-CAM(s) to return"
        required: true
        type: "integer"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOCAM_Summaries"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-CAM not found"

  /models/go:
    get:
      tags:
      - "models"
      summary: "Find All GO-Terms by GO-CAM(s)"
      description: "Returns All GO-Terms related to some GO-CAM(s)"
      operationId: "getGOByModels"
      produces:
      - "application/json"
      parameters:
      - name: "gocams"
        in: "query"
        description: "List of GO-CAMs"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOCAMs_AllTerms"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-CAM not found"

  /models/bp:
    get:
      tags:
      - "models"
      summary: "Find Biological Processes by GO-CAM(s)"
      description: "Returns Biological Processes related to some GO-CAM(s)"
      operationId: "getBPByModels"
      produces:
      - "application/json"
      parameters:
      - name: "gocams"
        in: "query"
        description: "List of GO-CAMs"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOCAMs_Terms"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-CAM not found"

  /models/mf:
    get:
      tags:
      - "models"
      summary: "Find Molecular Functions by GO-CAM(s)"
      description: "Returns Molecular Functions related to some GO-CAM(s)"
      operationId: "getMFByModels"
      produces:
      - "application/json"
      parameters:
      - name: "gocams"
        in: "query"
        description: "List of GO-CAMs"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOCAMs_Terms"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-CAM not found"

  /models/cc:
    get:
      tags:
      - "models"
      summary: "Find Cellular Components by GO-CAM(s)"
      description: "Returns Cellular Components related to some GO-CAM(s)"
      operationId: "getCCByModels"
      produces:
      - "application/json"
      parameters:
      - name: "gocams"
        in: "query"
        description: "List of GO-CAMs"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GOCAMs_Terms"
        400:
          description: "Invalid ID supplied"
        404:
          description: "GO-CAM not found"



  /groups:
    get:
      tags:
      - "groups"
      summary: "List all Groups"
      description: "List all Groups producing GO-CAMs"
      operationId: "getGroups"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Groups"
        400:
          description: "Invalid status value"

  /groups/details:
    get:
      tags:
      - "groups"
      summary: "List all Groups with Details"
      description: "List all Groups producing GO-CAMs with Details"
      operationId: "getGroupsDetails"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GroupsDetails"
        400:
          description: "Invalid status value"

  /groups/{name}:
    get:
      tags:
      - "groups"
      summary: "Find Group by Name"
      description: "Returns a single Group"
      operationId: "getGroupByName"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "Name of Group to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Group"
        400:
          description: "Invalid name supplied"
        404:
          description: "Group not found"

  /groups/{name}/details:
    get:
      tags:
      - "groups"
      summary: "Find Group Details by Name"
      description: "Returns a single Group Details"
      operationId: "getGroupDetailsByName"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "path"
        description: "Name of Group to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GroupDetails"
        400:
          description: "Invalid name supplied"
        404:
          description: "Group not found"





  /users:
    get:
      tags:
      - "users"
      summary: "List all Users"
      description: "List all Users producing GO-CAMs"
      operationId: "getUsers"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Users"
        400:
          description: "Invalid status value"

  /users/{orcid}:
    get:
      tags:
      - "users"
      summary: "Find User by ORCID"
      description: "Returns a single Group"
      operationId: "getUserByORCID"
      produces:
      - "application/json"
      parameters:
      - name: "orcid"
        in: "path"
        description: "Name of ORCID to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Invalid name supplied"
        404:
          description: "User not found"



definitions:

  GOCAM_Summary:
    type: "object"
    required:
    - "gocam"
    - "groupids"
    properties:
      gocam:
        type: "string"
        example: "http://model.geneontology.org/5ae3b0f600001669"
      date:
        type: "string"
        example: "2018-06-20"
      title:
        type: "string"
      orcids:
        type: "array"
        items:
          type: "string"
          example: "http://orcid.org/0000-0001-5801-1974"
      names:
        type: "array"
        items:
          type: "string"
          example: "Laurent-Philippe Albou"
      groupids:
        type: "array"
        items:
          type: "string"
          example: "http://geneontology.org"
      groupnames:
        type: "array"
        items:
          type: "string"
          example: "GO Central"
          
  GOCAM_Summaries:
    type: "array"
    items:
      $ref: "#/definitions/GOCAM_Summary"
      
      
  GOCAM_Terms:
    type: "object"
    properties:
      gocam:
        type: "string"
        example: "http://model.geneontology.org/5ae3b0f600001669"
      goids:
        type: "array"
        items:
          type: "string"
          example: "http://purl.obolibrary.org/obo/GO_0007389"
      gonames:
        type: "array"
        items:
          type: "string"
          example: "pattern specification process"
      definitions:
        type: "array"
        items:
          type: "string"
          example: "Any developmental process that results in the creation of defined areas or spaces within an organism to which cells respond and eventually are instructed to differentiate."
            
  GOCAMs_Terms:
    type: "array"
    items:
      $ref: "#/definitions/GOCAM_Terms"




  GOCAM_AllTerms:
    type: "object"
    properties:
      gocam:
        type: "string"
        example: "http://model.geneontology.org/56aac7ad00000038"
      goclasses:
        type: "array"
        items:
          type: "string"
          example: "http://purl.obolibrary.org/obo/GO_0008150"
      goids:
        type: "array"
        items:
          type: "string"
          example: "http://purl.obolibrary.org/obo/GO_0098609"
      gonames:
        type: "array"
        items:
          type: "string"
          example: "cell-cell adhesion"
      definitions:
        type: "array"
        items:
          type: "string"
          example: "The attachment of one cell to another cell via adhesion molecules."
            
  GOCAMs_AllTerms:
    type: "array"
    items:
      $ref: "#/definitions/GOCAM_AllTerms"




  Group:
    type: "object"
    properties:
      name:
        type: "string"
        example: "GO Central"
      url:
        type: "string"
        example: "http://geneontology.org"
      members:
        type: "integer"
        example: "15"
      gocams:
        type: "integer"
        example: "39"

  Groups:
    type: "array"
    items:
      $ref: "#/definitions/Group"





  GroupDetails:
    type: "object"
    required:
    - "name"
    properties:
      name:
        type: "string"
        example: "GO Central"
      url:
        type: "string"
        example: "http://geneontology.org"
      membersOrcid:
        type: "array"
        items:
          type: "string"
      membersName:
        type: "array"
        items:
          type: "string"
      gocams:
        type: "array"
        items:
          type: "string"
      gocamstitles:
        type: "array"
        items:
          type: "string"

  GroupsDetails:
    type: "array"
    items:
      $ref: "#/definitions/GroupDetails"




  User:
    type: "object"
    required:
    - "orcid"
    properties:
      orcid:
        type: "string"
        example: "http://orcid.org/0000-0003-3185-5709"
      name:
        type: "string"
        example: "Vincent O`Connor"
      organizations:
        type: "array"
        items:
          type: "string"
          example: "Department of Molecular Neurobiology, Max Planck Institute of Experimental Medicine, Göttingen, Germany"
      affiliations:
        type: "array"
        items:
          type: "string"
          example: "https://syngo.vu.nl"
      gocams:
        type: "integer"
        example: "39"

  Users:
    type: "array"
    items:
      $ref: "#/definitions/User"
      
      
      
  GOTerm:
    type: "object"
    properties:
      oboid:
        type: "string"
      namespace:
        type: "string"
        example: "cellular_component"
      definition:
        type: "string"
        example: "A location, relative to cellular compartments and structures, occupied by a macromolecular machine when it carries out a molecular function."
      comment:
        type: "string"
        example: "Note that, in addition to forming the root of the cellular component ontology, this term is recommended for use for the annotation of gene products whose cellular component is unknown."
      synonyms:
        type: "array"
        items:
          type: "string"
          example: "cell or subcellular entity"
      subsets:
        type: "array"
        items:
          type: "string"
          example: "http://purl.obolibrary.org/obo/go#goslim_chembl"

  GOTermRelation:
    type: "object"
    properties:
      relation:
        type: "string"
        example: "query, child, parent, partOf, regulates, occursIn"
      goid:
        type: "string"
        example: "http://purl.obolibrary.org/obo/GO_0098595"
      goname:
        type: "string"
        example: "perivitelline space"
      